.container {
display: flex;
flex-flow: row wrap;
width: 90%;
margin: auto;
}

#orderStatus {
    width: 200px;
    display: inline-block;
}

#updateOrderStatusBtn {
    display: inline-block;
    margin: 0px 10px !important;
    position: relative;
    top: -1px;
}

img {
    max-height: 100px!important;
    width:auto!important;
}